{% load progress_tags %}
<div class="xl:col-start-1 xl:col-span-4" data-aos="fade-up">
    <!-- curriculum -->
    <ul class="accordion-container curriculum">
      <!-- accordion -->
       {% for module in modules %}
       {% if forloop.first %}
      <li class="accordion mb-25px overflow-hidden active">
        <div
          class="bg-whiteColor border border-borderColor dark:bg-whiteColor-dark dark:border-borderColor-dark rounded-t-md"
        >
          <!-- controller -->
          <div>
            <button
              class="accordion-controller flex justify-between items-center text-xl text-headingColor font-bold w-full px-5 py-18px dark:text-headingColor-dark font-hind leading-[20px]"
            >
              <span>{{ module.name }}</span>

              <svg
                class="transition-all duration-500 rotate-0"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="#212529"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                ></path>
              </svg>
            </button>
          </div>
          <!-- content -->
           
          <div class="accordion-content transition-all duration-500">
            <div class="content-wrapper p-10px md:px-30px">
              <ul>
                {% for lesson in module.lesson_set.all %}
                {% get_user_progress lesson request.user as progress %}
                <li
                  class="py-4 flex items-center justify-between flex-wrap border-b border-borderColor dark:border-borderColor-dark"
                >
                  <div>
                    <h4
                      class="text-blackColor dark:text-blackColor-dark leading-1 font-light"
                    >
                      <i class="icofont-video-alt mr-10px"></i>
                      <a
                        href="#"
                        class="font-medium text-contentColor dark:text-contentColor-dark hover:text-primaryColor dark:hover;text-primaryColor"
                        >{{ lesson.title }}
                      </a>
                    </h4>
                  </div>
                  <div
                    class="text-blackColor dark:text-blackColor-dark text-sm flex items-center"
                  >
                    
                    {% if progress and progress.is_open %}
                    <p class="font-semibold">{{ lesson.minutes }} min</p>
                    <a
                      href="{{ lesson.get_link }}"
                      class="bg-primaryColor text-whiteColor text-sm ml-5 rounded py-0.5"
                    >
                      <p class="px-10px">
                        <i class="icofont-eye"></i> Ko'rish
                      </p>
                    </a>
                    {% else %}
                    <div class="text-contentColor dark:text-contentColor-dark text-sm">
                      <p>
                        <i class="icofont-lock"></i>
                      </p>
                    </div>
                    {% endif %}
                  </div>
                </li>
                {% if lesson.myquiz %}
                <li class="py-4 flex items-center justify-between flex-wrap border-b border-borderColor dark:border-borderColor-dark">
                  <div>
                    <h4 class="text-blackColor dark:text-blackColor-dark leading-1 font-light">
                      <i class="icofont-audio mr-10px"></i>
                      {{ lesson.myquiz.title }}
                    </h4>
                  </div>
                  <div class="text-blackColor dark:text-blackColor-dark text-sm flex items-center">
                
                    {% if progress.is_open and lesson.myquiz.is_open %}
                    <a href="{% url 'quiz_details' lesson.module.course.slug lesson.myquiz.id %}" class="bg-primaryColor text-whiteColor text-sm ml-5 rounded py-0.5">
                      <p class="px-10px">
                         Ko'rish
                      </p>
                    </a>
                    {% else %}
                    <div class="text-contentColor dark:text-contentColor-dark text-sm">
                      <p>
                        <i class="icofont-lock"></i>
                      </p>
                    </div>
                    {% endif %}
                  </div>
                </li>
                {% endif %}
                {% endfor %}
                <li
                  class="py-4 flex items-center justify-between flex-wrap"
                >
                  <div>
                    <h4
                      class="text-blackColor dark:text-blackColor-dark leading-1 font-light"
                    >
                      <i class="icofont-file-text mr-10px"></i>
                      <a
                        href="#"
                        class="font-medium text-contentColor dark:text-contentColor-dark hover:text-primaryColor dark:hover;text-primaryColor"
                        >Materiallar
                      </a>
                    </h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          
        </div>
      </li>
      {% else %}
      <li class="accordion mb-25px overflow-hidden">
        <div
          class="bg-whiteColor border border-borderColor dark:bg-whiteColor-dark dark:border-borderColor-dark"
        >
          <!-- controller -->
          <div>
            <button
              class="accordion-controller flex justify-between items-center text-xl text-headingColor font-bold w-full px-5 py-18px dark:text-headingColor-dark font-hind leading-[20px]"
            >
              <span>{{ module.name }}</span>

              <svg
                class="transition-all duration-500 rotate-0"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="#212529"
              >
                <path
                  fill-rule="evenodd"
                  d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"
                ></path>
              </svg>
            </button>
          </div>
          <!-- content -->
          <div
            class="accordion-content transition-all duration-500 h-0"
          >
            <div class="content-wrapper p-10px md:px-30px">
              <ul>
                {% for lesson in module.lesson_set.all %}
                {% get_user_progress lesson request.user as progress %}
                <li
                  class="py-4 flex items-center justify-between flex-wrap border-b border-borderColor dark:border-borderColor-dark"
                >
                  <div>
                    <h4
                      class="text-blackColor dark:text-blackColor-dark leading-1 font-light"
                    >
                      <i class="icofont-video-alt mr-10px"></i>
                      <a
                        href="#"
                        class="font-medium text-contentColor dark:text-contentColor-dark hover:text-primaryColor dark:hover;text-primaryColor"
                        >{{ lesson.title }}
                      </a>
                    </h4>
                  </div>
                  <div
                    class="text-blackColor dark:text-blackColor-dark text-sm flex items-center"
                  >
                    
                    {% if progress.is_open %}
                    <p class="font-semibold">{{ lesson.minutes }} min</p>
                    <a
                      href="{{ lesson.get_link }}"
                      class="bg-primaryColor text-whiteColor text-sm ml-5 rounded py-0.5"
                    >
                      <p class="px-10px">
                        <i class="icofont-eye"></i> Ko'rish
                      </p>
                    </a>
                    {% else %}
                    <div class="text-contentColor dark:text-contentColor-dark text-sm">
                      <p>
                        <i class="icofont-lock"></i>
                      </p>
                    </div>
                    {% endif %}
                  </div>
                </li>
                {% if lesson.myquiz %}
                <li class="py-4 flex items-center justify-between flex-wrap border-b border-borderColor dark:border-borderColor-dark">
                  <div>
                    <h4 class="text-blackColor dark:text-blackColor-dark leading-1 font-light">
                      <i class="icofont-audio mr-10px"></i>
                      {{ lesson.myquiz.title }}
                    </h4>
                  </div>
                  <div class="text-blackColor dark:text-blackColor-dark text-sm flex items-center">
                
                    {% if lesson.myquiz.is_open %}
                    <a href="{% url 'my_quiz' lesson.myquiz.id %}" class="bg-primaryColor text-whiteColor text-sm ml-5 rounded py-0.5">
                      <p class="px-10px">
                         Boshlash
                      </p>
                    </a>
                    {% else %}
                    <div class="text-contentColor dark:text-contentColor-dark text-sm">
                      <p>
                        <i class="icofont-lock"></i>
                      </p>
                    </div>
                    {% endif %}
                  </div>
                </li>
                {% endif %}
                {% endfor %}
                <li
                  class="py-4 flex items-center justify-between flex-wrap"
                >
                  <div>
                    <h4
                      class="text-blackColor dark:text-blackColor-dark leading-1 font-light"
                    >
                      <i class="icofont-file-text mr-10px"></i>
                      <a
                        href="#"
                        class="font-medium text-contentColor dark:text-contentColor-dark hover:text-primaryColor dark:hover;text-primaryColor"
                        >Materiallar
                      </a>
                    </h4>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>