{% extends 'base.html' %}

{% block title %} {{ lesson.title }} {% endblock %}

{% block content %}
<main class="bg-transparent">
  <!-- quiz section -->
  <section>
    <div class="container-fluid-2 py-100px">
      <div class="grid grid-cols-1 xl:grid-cols-12 gap-30px">
        {% include 'includes/lesson-left.html'%}
        <!-- quiz right -->
        <div class="xl:col-start-5 xl:col-span-8 relative" data-aos="fade-up">

          <div>
            <ul class="flex flex-wrap items-center gap-x-1">
              <li class="text-bodyColor dark:text-bodyColor-dark leading-1.8">
                <h1><div id="timer" style="font-size: 24px;"></div></h1>
              </li>
            </ul>
          </div>
          <!-- question 1 -->
          <form id="testForm" action="" method="post">
            {% csrf_token %}
            {% for question in questions %}
            <div>
              <hr class="border-borderColor2 dark:opacity-30 my-4">
              <h4
                class="text-2xl sm:text-size-28 font-bold leading-1.2 text-blackColor dark:text-blackColor-dark mb-15px">
                {{ forloop.counter }}. {{ question.name|safe }}
              </h4>
              <ul class="grid grid-cols-1 md:grid-cols-2 gap-y-0.5 gap-x-30px">
                {% for answer in question.answer_set.all %}
                <li class="flex items-center gap-x-2">
                  {% if question.is_multiple_choice %}
                  <input
                    class="relative w-4 h-4 z-0 rounded after:absolute after:w-4 after:h-4 after:left-0 after:top-0 block after:-z-1 after:rounded after:focus:shadow-select box-content"
                    type="checkbox" value="{{ answer.id }}" id="{{ answer.id }}" name="question_{{ question.id }}">
                  {% else %}
                  <input
                    class="relative w-4 h-4 z-0 rounded after:absolute after:w-4 after:h-4 after:left-0 after:top-0 block after:-z-1 after:rounded after:focus:shadow-select box-content"
                    type="radio" value="{{ answer.id }}" id="{{ answer.id }}" name="question_{{ question.id }}">
                  {% endif %}

                  <label for="{{ answer.id }}" class="text-bodyColor dark:text-bodyColor-dark leading-1.8">
                    {{ answer.name }}
                  </label>
                </li>
                <br>
                {% endfor %}
              </ul>
              <br>
              <br>
              <br>
            </div>
            {% endfor %}
            <div>
              <button type="submit"
                class="text-size-15 text-whiteColor bg-primaryColor px-25px py-10px border border-primaryColor hover:text-primaryColor hover:bg-whiteColor inline-block rounded group dark:hover:text-whiteColor dark:hover:bg-whiteColor-dark">
                Testni tugatish <i class="icofont-long-arrow-right"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
    var countdown;
    var timerElement = document.getElementById("timer");

    function updateTimer() {
        var minutes = Math.floor(countdown / 60);
        var seconds = countdown % 60;
        timerElement.innerHTML = "<b>Test Tugashiga: </b><span style='color:#7ccb11; font-weight:bold;'>" 
    + minutes + ":" + (seconds < 10 ? "0" : "") + seconds + "</span><b> vaqt qoldi</b>";

    }

    function submitFormOnTimeout() {
        // Formni yuborishdan oldin localStorage vaqtini o'chirish
        localStorage.removeItem("quiz_start_time");
        document.getElementById("testForm").submit();
    }

    function startTimer() {
        var initialStartTime = localStorage.getItem("quiz_start_time");
        if (!initialStartTime) {
            // Agar localStorage'da vaqt topilmasa, yangi vaqtni saqlash
            localStorage.setItem("quiz_start_time", new Date().toISOString());
            initialStartTime = localStorage.getItem("quiz_start_time");
        }

        countdown = Math.max(60 * {{ quiz.duration_time }} - Math.floor((new Date() - new Date(initialStartTime)) / 1000), 0);

        var timer = setInterval(function () {
            updateTimer();
            countdown--;

            if (countdown < 0) {
                clearInterval(timer);
                submitFormOnTimeout();
            }
        }, 1000);

        // Yakunlash tugmasi bosilganda localStorage o'chirilsin
        document.getElementById("submitBtn").addEventListener("click", function () {
            localStorage.removeItem("quiz_start_time");
        });
    }

    window.onload = startTimer;
</script>
{% endblock %}