{% extends 'base.html' %}

{% block title %} {{ lesson.title }} {% endblock %}

{% block content %}
<main class="bg-transparent">
  <!-- quiz section -->
  <section>
    <div class="container-fluid-2 py-100px">
      <div class="grid grid-cols-1 xl:grid-cols-12 gap-30px">
        {% include 'includes/lesson-left.html'%}
        <!-- quiz right -->
        <div
          class="xl:col-start-5 xl:col-span-8 relative"
          data-aos="fade-up"
        >

        <div>
          <ul class="flex flex-wrap items-center gap-x-1">
            <li
              class="text-bodyColor dark:text-bodyColor-dark leading-1.8"
            >
              Savollar soni: {{ questions_count }} |
            </li>
            <li
              class="text-bodyColor dark:text-bodyColor-dark leading-1.8"
            >
              Vaqt: {{ quiz.duration_time }} Min
            </li>
          </ul>
        </div>
          <!-- question 1 -->
           {% for question in questions %}
          <div>
            <hr class="border-borderColor2 dark:opacity-30 my-4" >
            <h4
              class="text-2xl sm:text-size-28 font-bold leading-1.2 text-blackColor dark:text-blackColor-dark mb-15px"
            >
              {{ forloop.counter }}. {{ question.name }} 
            </h4>
            <ul
              class="grid grid-cols-1 md:grid-cols-2 gap-y-0.5 gap-x-30px"
            >
            {% for answer in question.answer_set.all %}
              <li class="flex items-center gap-x-2">
                <input
                  class="relative w-4 h-4 z-0 rounded after:absolute after:w-4 after:h-4 after:left-0 after:top-0 block after:-z-1 after:rounded after:focus:shadow-select box-content"
                  type="radio"
                  value=""
                  id="flexCheckDefault"
                >

                <label
                  for="flexCheckDefault"
                  class="text-bodyColor dark:text-bodyColor-dark leading-1.8"
                >
                  {{ answer.name }}
                </label>
              </li>
              <br>
            {% endfor %}
            </ul>
            <br >
            <br >
            <br >
          </div>
          {% endfor %}
          <div>
            <button
              type="submit"
              class="text-size-15 text-whiteColor bg-primaryColor px-25px py-10px border border-primaryColor hover:text-primaryColor hover:bg-whiteColor inline-block rounded group dark:hover:text-whiteColor dark:hover:bg-whiteColor-dark"
            >
              Testni tugatish <i class="icofont-long-arrow-right"></i>
            </button>
          </div>
          <br ><br ><br >
          <div>
            <h4
              class="text-2xl sm:text-size-28 font-bold leading-1.2 text-blackColor dark:text-blackColor-dark mb-15px"
            >
              Test Natijalari
            </h4>
            <div class="overflow-auto">
              <table class="w-full text-left text-nowrap">
                <thead
                  class="text-sm md:text-base text-blackColor dark:text-blackColor-dark bg-lightGrey5 dark:bg-whiteColor-dark leading-1.8 md:leading-1.8"
                >
                  <tr>
                    <th class="px-5px py-10px md:px-5">Quiz</th>
                    <th class="px-5px py-10px md:px-5">Qus</th>
                    <th class="px-5px py-10px md:px-5">TM</th>
                    <th class="px-5px py-10px md:px-5">CA</th>
                    <th class="px-5px py-10px md:px-5">Result</th>
                    <th class="px-5px py-10px md:px-5"></th>
                  </tr>
                </thead>
                <tbody
                  class="text-size-13 md:text-base text-contentColor dark:text-contentColor-dark font-normal"
                >
                  <tr class="leading-1.8 md:leading-1.8">
                    <th class="px-5px py-10px md:px-5 font-normal">
                      <p>December 26, 2024</p>
                      <span
                        class="text-blackColor dark:text-blackColor-dark font-bold"
                        >Write a on yourself using the 5</span
                      >
                      <p>
                        Student:
                        <a
                          class="text-blackColor dark:text-blackColor-dark"
                          href="#"
                          >John Due</a
                        >
                      </p>
                    </th>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>8</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p class="text-xs">
                        <span
                          class="h-22px inline-block px-7px bg-greencolor2 leading-22px font-bold text-whiteColor rounded-md"
                          >Pass</span
                        >
                      </p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <div class="dashboard__button__group">
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-primaryColor bg-primaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-primaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-edit"
                          >
                            <path
                              d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                            ></path>
                            <path
                              d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                            ></path>
                          </svg>
                          Edit</a
                        >
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-secondaryColor bg-secondaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-secondaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-trash-2"
                          >
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path
                              d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                            ></path>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                          </svg>
                          Delete</a
                        >
                      </div>
                    </td>
                  </tr>
                  <tr
                    class="leading-1.8 md:leading-1.8 bg-lightGrey5 dark:bg-whiteColor-dark"
                  >
                    <th class="px-5px py-10px md:px-5 font-normal">
                      <p class="flex">December 26, 2024</p>
                      <span
                        class="text-blackColor dark:text-blackColor-dark font-bold"
                        >Write a on yourself using the 5</span
                      >
                      <p>
                        Student:
                        <a
                          class="text-blackColor dark:text-blackColor-dark"
                          href="#"
                          >John Due</a
                        >
                      </p>
                    </th>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>8</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p class="text-xs">
                        <span
                          class="h-22px inline-block px-7px bg-greencolor2 leading-22px font-bold text-whiteColor rounded-md"
                          >Pass</span
                        >
                      </p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <div class="dashboard__button__group">
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-primaryColor bg-primaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-primaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-edit"
                          >
                            <path
                              d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                            ></path>
                            <path
                              d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                            ></path>
                          </svg>
                          Edit</a
                        >
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-secondaryColor bg-secondaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-secondaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-trash-2"
                          >
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path
                              d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                            ></path>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                          </svg>
                          Delete</a
                        >
                      </div>
                    </td>
                  </tr>
                  <tr class="leading-1.8 md:leading-1.8">
                    <th class="px-5px py-10px md:px-5 font-normal">
                      <p class="flex">December 26, 2024</p>
                      <span
                        class="text-blackColor dark:text-blackColor-dark font-bold"
                        >Write a on yourself using the 5</span
                      >
                      <p>
                        Student:
                        <a
                          class="text-blackColor dark:text-blackColor-dark"
                          href="#"
                          >John Due</a
                        >
                      </p>
                    </th>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>8</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p class="text-xs">
                        <span
                          class="h-22px inline-block px-7px bg-greencolor2 leading-22px font-bold text-whiteColor rounded-md"
                          >Pass</span
                        >
                      </p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <div class="dashboard__button__group">
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-primaryColor bg-primaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-primaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-edit"
                          >
                            <path
                              d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                            ></path>
                            <path
                              d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                            ></path>
                          </svg>
                          Edit</a
                        >
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-secondaryColor bg-secondaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-secondaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-trash-2"
                          >
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path
                              d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                            ></path>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                          </svg>
                          Delete</a
                        >
                      </div>
                    </td>
                  </tr>
                  <tr
                    class="leading-1.8 md:leading-1.8 bg-lightGrey5 dark:bg-whiteColor-dark"
                  >
                    <th class="px-5px py-10px md:px-5 font-normal">
                      <p class="flex">December 26, 2024</p>
                      <span
                        class="text-blackColor dark:text-blackColor-dark font-bold"
                        >Write a on yourself using the 5</span
                      >
                      <p>
                        Student:
                        <a
                          class="text-blackColor dark:text-blackColor-dark"
                          href="#"
                          >John Due</a
                        >
                      </p>
                    </th>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>8</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p>4</p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <p class="text-xs">
                        <span
                          class="h-22px inline-block px-7px bg-greencolor2 leading-22px font-bold text-whiteColor rounded-md"
                          >Pass</span
                        >
                      </p>
                    </td>
                    <td class="px-5px py-10px md:px-5">
                      <div class="dashboard__button__group">
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-primaryColor bg-primaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-primaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-edit"
                          >
                            <path
                              d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"
                            ></path>
                            <path
                              d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"
                            ></path>
                          </svg>
                          Edit</a
                        >
                        <a
                          class="flex items-center gap-1 text-sm font-bold text-whiteColor hover:text-secondaryColor bg-secondaryColor hover:bg-whiteColor dark:hover:bg-whiteColor-dark border border-secondaryColor h-30px w-full px-14px leading-30px justify-center rounded-md my-5px"
                          href="#"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="24"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            class="feather feather-trash-2"
                          >
                            <polyline points="3 6 5 6 21 6"></polyline>
                            <path
                              d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"
                            ></path>
                            <line x1="10" y1="11" x2="10" y2="17"></line>
                            <line x1="14" y1="11" x2="14" y2="17"></line>
                          </svg>
                          Delete</a
                        >
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}