{% extends 'base.html' %}

{% block title %} {{ lesson.title }} {% endblock %}

{% block content %}
<!-- main body -->
<!-- main body -->
<main class="bg-transparent">
    <!-- lesson section -->
    <section>
      <div class="container-fluid-2 pt-50px pb-100px">
        <div class="grid grid-cols-1 xl:grid-cols-12 gap-30px">
          <!-- lesson left -->
          {% include 'includes/lesson-left.html'%}
          <!-- lesson right -->
          <div
            class="xl:col-start-5 xl:col-span-8 relative"
            data-aos="fade-up"
          >
            <div>
              <div
                class="absolute top-0 left-0 w-full flex justify-between items-center px-5 py-10px bg-primaryColor leading-1.2 text-whiteColor"
              >
                <h3 class="sm:text-size-22 font-bold">
                  {{ lesson.title }}
                </h3>
                <a href="{% url 'main:home' %}" class="">Yopish</a>
              </div>

              <div class="aspect-[16/9]">
                <iframe
                  src="{{ lesson.video_link }}"
                  allowfullscreen=""
                  allow="autoplay"
                  class="w-full h-full"
                ></iframe>
              </div>
              <div class="container mt-3">
                <p>
                  {{ lesson.content | safe}}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock %}